:root {
    --light_grey: #eeeeee;
    --medium_grey: #333333;
    --dark_grey: #222222;
    --light_green: #a1e2a1;
    --medium_green: #3b6d3b;
    --dark_green: #315b31;
    --light_yellow: #ffe67d;
    --medium_yellow: #efc100;
    --dark_yellow: #d6ad00;
}

* {
    padding: 0;
    margin: 0;
}


body {
    background-color: var(--light_grey);
}

#header {
    background-color: var(--light_green);
    height: 100px;
}

#header div {
    width: 1200px;
    height: 100px;
    margin: auto;
}

#header div p {
    float: left;
    margin: 0px 50px;
}

#content {
    width: 1200px;
    height: 600px;
    background-color: white;
    margin: auto;
    text-align: center;
}

#content h1 {
    color: var(--dark_grey);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    margin: auto;
}

tr th {
    padding: 10px;
}

tr th label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

td div div label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

input {
    padding: 5px;
}

#submit {
    padding: 10px;
}